
        <!-- Services Section Starts Here -->
        <div class="padd-80 bg-gray" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <h1>Services</h1>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                <p class="sub-title">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 text-center service-item">
                        <img src="images/lightbulb.png" class="center-block" alt="" title="" />
                        <h4>Unique Layouts</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Distinctio ut, inventore quibusdam consequatur eos.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text-center service-item">
                        <img src="images/responsive.png" class="center-block" alt="" title="" />
                        <h4>Responsive</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Distinctio ut, inventore quibusdam consequatur eos.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text-center service-item">
                        <img src="images/ajax.png" class="center-block" alt="" title="" />
                        <h4>Ajax Transitions</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Distinctio ut, inventore quibusdam consequatur eos.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text-center service-item">
                        <img src="images/e-commerce.png" class="center-block" alt="" title="" />
                        <h4>E-Commerce</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Distinctio ut, inventore quibusdam consequatur eos.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text-center service-item">
                        <img src="images/portfolio.png" class="center-block" alt="" title="" />
                        <h4>Unlimited Portfolios</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Distinctio ut, inventore quibusdam consequatur eos.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text-center service-item">
                        <img src="images/power.png" class="center-block" alt="" title="" />
                        <h4>Powerful</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Distinctio ut, inventore quibusdam consequatur eos.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Section Ends Here -->
